/* color code */
/* 00AD82 */
header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  position: fixed;
  transition: background-color 0.3s ease;
}

header ul {
  font-family: "Oswald", serif;
  font-size: 1rem;
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  & a:hover {
    border-bottom: 2px solid #222222;
  }
}

header a {
  color: #2e2e2e;
  text-decoration: none;
}

header ul a:hover {
  color: #00ad82;
}

header img {
  margin: 20px 0 0 40px;
  width: 100px;
  transition: opacity 0.3s ease;
}

header img:hover {
  opacity: 0.7;
}

.logo {
  align-items: center;
  font-family: "Oswald", serif;
  font-weight: 600;
  display: flex;
  text-decoration: none;
  color: #222222;
  font-size: 1.5rem;
  & p {
    margin-left: -15px;
  }
  & span {
    margin: 40px 0 auto 10px;
    color: #00ad82;
  }
}

#call-btn {
  margin-right: 30px;
  border-radius: 0.3em;
  border: 2px solid #00ad82;
  width: 8em;
  height: 2em;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: 0.3s;
  z-index: 1;
  font-family: "Oswald", serif;
  color: #17c3b2;
  cursor: pointer;
}

#call-btn::after {
  content: "";
  transition: 0.5s;
  transform-origin: center;
}

#call-btn::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #00ad82;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

#call-btn:hover::before,
#call-btn:hover::after {
  width: 105%;
}

#call-btn:hover {
  color: #111;
}

#call-btn i {
  font-size: 1rem;
  margin-left: 8px;
}
