#services {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-container {
  padding: 20px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;

  background-color: white;
  width: 300px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-sizing: border-box;

  transition: box-shadow 0.8s ease;
}

.service-item:hover {
  box-shadow: 0 0 15px #c5c5c5;
}

.service-item i {
  font-size: 2rem;
  color: #00ad82;
}
.service-item img {
  height: 40px;
  width: 40px;
}
.service-topic {
  font-family: "roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.desc {
  font-family: "roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #808080;
}

.readmore {
  font-family: "inconsolata", monospace;
  font-size: 0.9rem;
  font-weight: 300;
}

.readmore:hover {
  color: #0c9775;
  cursor: pointer;
}