#key-skills {
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100vw; */
  height: 110vh;
}

.skill-container {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

#grid-item{
  margin-top: 30px;
  margin-left: 40px;
  border: 1px solid #e2e2e2;
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}

#grid-item:hover {
  box-shadow: 0 0 35px #00AD82;
}

#grid-item-abilities{
  margin-left: 75px;
  border: 1px solid #c7c7c7;
  background: white;
  border-radius: 10px;
  padding: 30px 10px 20px 10px;
  width: 200px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}

#grid-item-abilities:hover {
  box-shadow: 0 0 35px #00AD82;
}

.skill-logo {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid #00ad82;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-logo > i {
  color: #00ad82;
  font-size: 1.2rem;
}

.logo-abilities {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #00ad82;
  border: 2px solid white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-abilities > i {
  color: white;
  font-size: 1.2rem;
}

.topic {
  font-family: "Oswald", serif;
  /* padding-top: 1px; */
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
}

.topic-abilities {
  font-family: "Oswald", serif;
  /* padding-top: 1px; */
  color: black;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 500;
}

.content{
  padding-top: 2px;
  margin: 2px;
  /* font-family: "Oswald", serif; */
  font-size: 0.8rem;
  font-weight: 400;
  color: #484848;
}
